/*El que fem aqui es aliniar el text al centre*/
body {
    text-align: center;
}
/*Aqui modifiquel el color, padding, entre d'altres al titol de la taula*/
.titol{
    color:blue;
    padding: 4px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Juntem les caselles de tal manera que no hi hagin espais*/
table{
    border-collapse: collapse;
}
/*Afegim un fons de color gris suau i el text en negrita*/
.headers{
    background-color: rgb(156, 153, 153);
    font-weight: bold;
}
/*Aliniem el text a l'esquerra*/
.alignleft{
    text-align: left;
}
/*Configurem el borde de les caselles de tal manera de que ara es poden veure i modifiquem altres parametres*/
td,th{
    border: 1px solid;
    padding: 4px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}