body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    margin: 12px;

}
hr{
    height:1px;
    border-width: 0;
    background-color: grey;
    margin:0;
}
.top-left{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.top-right{
    display:flex;
    flex-direction: row;
    align-items:center;
}

.text{
    font-family:sans-serif;
    font-size: 14px;
}
.text:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sobre{
    padding-right: 5px;
}
.google{
    padding-right: 20px;
}
.tienda{
    padding-right:50px;
}
.gmail{
    padding-right: 20px;
}
.imagenes{
    padding-right: 20px;
}
.sesion{
    margin-left:20px;
    width: 115px;
    height: 35px;
    background-color: rgb(66 133 244);
    font-family: sans-serif;
    border-radius:7px;
    color:white;
}
.sobregoogle{
    display:inline-flex;
    flex-wrap: wrap;
}
.content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.googleimg{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.outerbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.left{
    order:1;
}
.searchbar{
    display:flex;
    order:2;
    flex-direction: row;
    justify-content: center;
    margin:20px;
    border:1px solid black;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
}
.right{
    order:3;
}
#textbox{
    width:500px;
    border:none;
    border-color:transparent;
}
.searchbotton{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.botton{
    width: 150px;
    height: 35px;
    margin:5px;
    font-family: sans-serif;
    background-color: rgb(242, 242, 242);
    border-radius: 7px;
}
.languages{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    align-items: center;
}
.ofrecido{
    font-family:sans-serif;
    font-size: 14px;
}
.language1{
    margin-left: 5px;
    margin-right: 5px;
}
footer{
    display: flex;
    flex-direction:column;
}
.secondLast{
    background-color: rgb(242, 242, 242);
    width: 100%;
    padding: 10px;
}
.last{
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 242, 242);
    flex-wrap: wrap;
    padding:10px;
    justify-content: space-between;
}
.bottom-left{
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
}
.bottom-center{
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;

}
.bottom-right{
    display:flex;
    flex-grow: 1;
    order: 3;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;
}
.españa{
    font-family:sans-serif;
    font-size: 14px;
    margin-left: 20px;
}
.publicidad{
    padding-right: 20px;
}
.empresa{
    padding-right: 20px;
}
.comoFunciona{
    padding-right: 20px;
}
.privacidad{
    padding-left: 20px;
}
.terminos{
    padding-left: 20px;
}
.configuracion{
    padding-left: 20px;
}
.bottext{
    font-family:sans-serif;
    font-size: 14px;
}
.bottext:hover{
    text-decoration: underline;
    cursor: pointer;
}