body{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    margin-left:12px;

}
.top-left{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.top-right{
    display:flex;
    flex-direction: row;
    align-items:center;
}

.text{
    font-family:sans-serif;
    font-size: 14px;
}
.text:hover{
    text-decoration: underline;
}
.sobre{
    padding-right: 5px;
}
.google{
    padding-right: 20px;
}
.tienda{
    padding-right:50px;
}
.gmail{
    padding-right: 20px;
}
.imagenes{
    padding-right: 20px;
}
.sesion{
    margin-left:20px;
    width: 115px;
    height: 35px;
    background-color: rgb(66 133 244);
    font-family: sans-serif;
    border-radius:5px;
    color:white;
}
.sobregoogle{
    display:flex;
    flex-wrap: wrap;
}
footer{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;

}
.secondLast{
    order:1
}
.last{
    order:2
}
.bottom-left{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.bottom-center{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.bottom-right{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.españa{
    font-family:sans-serif;
    font-size: 14px;
}